li {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0;
}

.item {
  display: flex;
  align-items: center;
  min-height: 40px;
}

input[type=checkbox] {
  transform: scale(1.5);
  margin-right: 12px;
}

input[type=checkbox]:checked + label {
  opacity: 0.6;
}
